* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #2a2a2e;
    color: white;
}

/*Header Styling*/
.header{
    display: flex;
    flex-direction: column;
}

.headerBar{
    display: flex;
    flex-direction: row;
}

.headerContent{
    display: flex;
}

.headerName{
    display: flex;
    align-items: center;
}

.headerNav{
    display: flex;
    align-items: center;
}

/*Main Styling*/
.content{
    flex-direction: column;
}

.contentSections{
    display: flex;
    flex-direction: row;
}

.contentContainers{
    display: flex;
    flex-direction: column;
}

.contentTitles{

}

.contentInfo{
    display: flex;
    flex-direction: row;
}

.largeImg{
    
}

.smallImg{

}