:root {
    --backGrey: #2a2a2e;
    --bannerBlue: #003070;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--backGrey);
    color: white;
}

/*Header Styling*/
.header {
    display: flex;
    flex-direction: column;
}

.headerBar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.headerContent {
    display: flex;
    align-items: center;
    border-bottom: solid 5px var(--backGrey);
}

#avatar {
    margin-right: auto;
    background-image: linear-gradient(to left, rgb(0, 48, 112, 0), rgb(0, 48, 112, 1));
}

h1 {
    font-size: 7vw;
}

#navContent {
    display: flex;
    background-image: linear-gradient(to right, rgb(0, 48, 112, 0), rgb(0, 48, 112, 1));
}

.headerContent ul {
    display: flex;
}

.headerContent ul li {
    color: #ffffff;
    list-style: none;
    font-size: 1.5vw;
    padding: 5px;
    margin: 15px;
    border-bottom: solid 2px red;
}

a {
    text-decoration: none;
}

.banner{
    position: relative;
    width:100%;
}

.banner img {
    max-height: 300px;
    width: 100%;
}

.banner div {
    position: absolute;
    bottom: 20%;
    right: 10%;
}

.subtitle {
    font-size: 50px;
}

/*Main Styling*/
.content {
    flex-direction: column;
}

.contentSections {
    display: flex;
    flex-direction: row;
}

.contentContainers {
    display: flex;
    flex-direction: column;
}

.contentTitles {}

.contentInfo {
    display: flex;
    flex-direction: row;
}

.largeImg {}

.smallImg {}