:root {
    --backGrey: #2a2a2e;
    --bannerBlue: #003070;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--backGrey);
    color: white;
}

/*Header Styling*/
.header {
    display: flex;
    flex-direction: column;
}

.headerBar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.headerContent {
    display: flex;
    align-items: center;
    border-bottom: solid 5px var(--backGrey);
}

/*Avatar Image Styling*/
#avatar {
    margin-right: auto;
    background-image: linear-gradient(to left, rgb(0, 48, 112, 0), rgb(0, 48, 112, 1));
}

/*Name Styling*/
h1 {
    font-size: 7vw;
}

/*Header Nav bar styling*/
#navContent {
    display: flex;
    background-image: linear-gradient(to right, rgb(0, 48, 112, 0), rgb(0, 48, 112, 1));
}

.headerContent ul {
    display: flex;
}

.headerContent ul li {
    color: #ffffff;
    list-style: none;
    font-size: 1.5vw;
    padding: 5px;
    margin: 15px;
    border-bottom: solid 2px red;
}

/*Removes the default underline of links*/
a {
    text-decoration: none;
}

/*Banner styling*/
.banner{
    position: relative;
    width:100%;
}

.banner img {
    max-height: 300px;
    width: 100%;
}

/*Banner subtitle positioning*/
.banner div {
    position: absolute;
    bottom: 20%;
    right: 10%;
}

/*Banner subtitle styling*/
.subtitle {
    font-size: 50px;
}

/*Main Styling*/
.content {
    flex-direction: column;
}

.contentSections {
    display: flex;
    flex-direction: row;
    padding: 25px 50px;
    background-color: rgb(38, 74, 50);
}

.contentContainers {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background-color: rgb(68, 10, 10);
    width: 100%;
}

/*Formats every other content container to hold 40/60 space ratio*/
.contentContainers:nth-child(odd){
    flex: 40%;
}

/*Content Title Font Styling (left containers)*/
.contentTitles {
    font-size: 60px;
    font-style: italic;
    text-align: end;
    background-color: grey;
    padding: 30px;
    
}

/*Content Info (right containers)*/
.contentInfo {
    display: flex;
    flex-direction: row;
    background-color: rgb(81, 61, 26);
    border-left: solid 10px red;
    padding: 0px 50px;
    font-size: 30px;
    line-height: 150%;
}

/*About Me Paragraph Styling*/
.content p{
    font-size: 30px;
    line-height: 150%;
}

/*Content section Main Image*/
.largeImg {
    position: relative;
}



.smallImg {
    position: relative;
}